i{
    color: red;
    text-transform: initial;
    text-decoration: red underline;
}

b i{
    color: black;
    text-decoration: none;
}
p{
    font-size: 15px
}
hr{
    background-color: red;
    color: red;
    border-bottom: 2px;
}
body{
    margin: 100px 150px 100px 80px;
}